body {
	background-color: rgb(100,100,100);
	background-image: url('../img/sbg.gif');
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-seriff;
	text-rendering: optimizeLegibility;
}

.hidden_class {
    display: none !important;
}

.item_icon {
  display: block;
  max-width:75px;
  max-height:75px;
  width: auto;
  height: auto;
}

.onehundred{
    width: 100%;
}

.sec_div,
section {
	text-align: justify;
	color: rgb(200, 200, 200);
	background-color: rgba(40,40,40, .8);
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgb(75,75,75);}

.main {
	z-index: 1;
	width: 1100px;
	position: relative;}

.grind {
	background-color: rgb(30,30,30);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
}

span {
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-size: 1.5em 1.5em;
}

.weapon {
    width: 10em;
    max-width: 10em;
}

select {
    text-align-last: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input,
select {
    text-align: right;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid rgb(0,0,0);
    color: rgb(200, 200, 200);
    background: rgba(0, 0, 0, .1);
    padding: .25em .5em;
}


img {
    vertical-align: middle;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgb(20,20,20);
}

#vertical-menu {
    z-index: 99;
    max-width: 20em;
    padding: 2px;
    position: absolute;
    color: rgb(200, 200, 200);
	background-color: rgb(20,20,20);
}
#vertical-menu div {
    display: block;
	background-color: rgb(20,20,20);
}

#vertical-menu div:hover {
	background-color: rgb(100,100,100);
}

button {
    padding: .25em .5em;
    white-space: nowrap;
    width: fit-content;
    border: 1px solid rgb(0,0,0);
    background: rgba(0, 0, 0, .5);
    color: rgb(200,200,200);
}

button:hover {
    background: rgb(100,100,100);
    color: rgb(255, 255, 255);
}

button.current_tab {
    color: rgb(220,220,220);
    background-color: rgb(70,70,70);
}

.text_button {
    border-style: solid;
    margin: 0 2px;
    cursor: pointer;
    display: inline-block;
}

.arti_span {
    width: 20em;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#sponsor {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    gap: 5px;
    width: 225px;
}

.sponsor_img {
    height: auto;
    width: 100%
}

#github_image{
    flex:3.1;
}

#patreon_image {
    flex:4.255;
}

table {
	border-collapse: collapse;
	table-layout: fixed
}

.col_1 {
    width: 10em;
}

.col_2 {
    width: 15em;
}

table.borders th,
table.borders td {
    border: 1px solid black;
}

table.body {
    border: 1px solid black;
	width: 100%;
}

/* Alternating list background Styles */

tr {
    text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:6px;
	margin: 1px
	line-height: 1em;
}

tr:nth-child(even)  {
	background-color: rgb(35,35,35);
}

tr:nth-child(odd) {
	background-color: rgb(45,45,45);
}

/* Override odd/even rules because table has invisible rows */

tr.tr_even {
	background-color: rgb(35,35,35) !important;
}

tr.tr_odd {
	background-color: rgb(45,45,45) !important;
}

tr.unchecked {
	opacity: 0.25;}

tr.checked {
	opacity: 1.0;
}

/* Set up color variables */
:root {
    --pyro-color: rgb(102,68,44);
    --hydro-color: rgb(4,91,102);
    --electro-color: rgb(89,75,101);
    --cryo-color: rgb(90,110,115);
    --anemo-color: rgb(60,102,75);
    --geo-color: rgb(98,86,39);
}

tr[data-color].checked {
   border: 1px solid rgb(0,0,0);
    margin: 0px 2px;
}
tr[data-color='pyro'].checked {
    background-color: var(--pyro-color);
}
tr[data-color='hydro'].checked {
    background-color: var(--hydro-color);
}
tr[data-color='electro'].checked {
    background-color: var(--electro-color);
}
tr[data-color='cryo'].checked {
    background-color: var(--cryo-color);
}
tr[data-color='anemo'].checked {
    background-color: var(--anemo-color);
}
tr[data-color='geo'].checked {
    background-color: var(--geo-color);
}

.bad {
	color: rgb(200, 200, 200);
    background-color: rgb(75, 0, 0);
}

.good {
	color: rgb(200, 200, 200);
    background-color: rgb(0, 75, 0);
}

.convert {
	color: rgb(200, 200, 200);
    background-color: rgb(125, 70, 0);
}

.selected {
	color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, .5);
}

.left_border {
    border-left: 3px double black;
}

.left_dotted {
    border-left: 1px dashed rgba(0,0,0,.8);
}

/* link legibility tweak */
a:link {
    color: rgb(98, 110, 250);
}

a:visited {
    color: rgb(137, 117, 162);
}

.container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 2px 0px;
    color: rgb(220, 220, 220);
    background-color: rgba(0, 0, 0, .8);
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: rgb(200, 200, 200);
	border: 1px solid rgb(60, 60, 60);
	padding: 8px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
}

input[type=checkbox]:checked {
	background-color: rgb(200, 200, 200);
	border: 1px solid rgb(60, 60, 60);
	color: rgb(0, 0, 0);
}

input[type=checkbox]:checked:after {
	content: '\2718';
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(0, 0, 0);
}

.location {
    font-family: "Arial Black", Gadget, sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

option {
    direction: rtl;
    background-color: rgb(20, 20, 20);
}

.right_text {
    text-align: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    margin-top: 7px;
}

table.spacer th:nth-child(5),
table.spacer td:nth-child(5),
table.spacer th:nth-child(10),
table.spacer td:nth-child(10),
.empty_row,
.empty_row > td,
.notvis {
    visibility: hidden !important;
    border: 0 !important;
}

.empty_row {
    height: 6px !important;
}


table.spacer th:nth-child(5),
table.spacer td:nth-child(5),
table.spacer th:nth-child(10),
table.spacer td:nth-child(10){
    width: 3px !important;
}
