body {
	background-color: rgb(100,100,100);
	background-image: url('../img/sbg.gif');
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-seriff;
	text-rendering: optimizeLegibility;
}

.hidden_class {
    display: none !important;
}

.item_icon {
  display: block;
  max-width:75px;
  max-height:75px;
  width: auto;
  height: auto;
}

.monospace {
    font-family: monospace;
}

.onehundred{
    width: 100%;
}

header, footer,
.sec_div,
section {
	text-align: justify;
	color: rgb(200, 200, 200);
	background-color: rgba(40,40,40, .8);
	padding:10px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgb(75,75,75);}

header, footer,
.main {
	z-index: 1;
	width: 1100px;
	position: relative;}

.grind {
	background-color: rgb(30,30,30);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
}

select {
    text-align-last: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input,
select {
    text-align: right;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid rgb(0,0,0);
    color: rgb(200, 200, 200);
    background: rgba(0, 0, 0, .1);
    padding: .25em .5em;
}


img {
    vertical-align: middle;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgb(20,20,20);
}

button {
    padding: .25em .5em;
    margin: 0 0 5px 0;
    white-space: nowrap;
    width: fit-content;
    border: 1px solid rgb(0,0,0);
    background: rgba(0, 0, 0, .5);
    color: rgb(200,200,200);
}

button:hover {
    background: rgb(100,100,100);
    color: rgb(255, 255, 255);
}

#sponsor {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    gap: 5px;
    width: 225px;
}

.sponsor_img {
    height: auto;
    width: 100%;
}

#github_image{
    flex:3.1;
}

#patreon_image {
    flex:4.255;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	margin-top: 10px;
}

.col_1 {
    width: 10em;
}

.col_2 {
    width: 15em;
}

table.borders th,
table.borders td {
    border: 1px solid black;
}

/* Alternating list background Styles */

tr {
    text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:6px;
	margin: 1px;
	line-height: 1em;
}

tr:nth-child(even)  {
	background-color: rgb(35,35,35);
}

tr:nth-child(odd) {
	background-color: rgb(45,45,45);
}

/* link legibility tweak */
a:link {
    color: rgb(98, 110, 250);
}

a:visited {
    color: rgb(137, 117, 162);
}

.container {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2px;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 2px 0px;
    color: rgb(220, 220, 220);
    background-color: rgba(0, 0, 0, .8);
}

input[type=checkbox] {
	-webkit-appearance: none;
	background-color: rgb(200, 200, 200);
	border: 1px solid rgb(60, 60, 60);
	padding: 8px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
}

input[type=checkbox]:checked {
	background-color: rgb(200, 200, 200);
	border: 1px solid rgb(60, 60, 60);
	color: rgb(0, 0, 0);
}

input[type=checkbox]:checked:after {
	content: '\2718';
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(0, 0, 0);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

option {
    direction: rtl;
    background-color: rgb(20, 20, 20);
}

.right_text {
    text-align: right;
}

.disclaimer {
    font-size: small;
}