<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="PoE Gwennen regex generator." />
        <meta name="keywords" content="best videogames, free to play, free game, online games, fantasy games, PC games, PC gaming, Path of Exile" />
        <meta charset="UTF-8">
        <title>{% if 't' not in league %}Standard{% else %}Temp{% endif %} {% if softcore %}Softcore{% else %}Hardcore{% endif %} Gwennen Regex Generator</title>
        <script src="js/brython.js"></script>
        <script src="js/brython_modules.js"></script>
        <link href="css/layout.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body onload="brython({debug: 1})">
        <section class="main">
            {% if missing_count %}
				<p>This league is missing {{ missing_count}} expected item{% if missing_count > 1 %}s{% endif %}. <button id='toggle_missing'>Show Missing</button></p>
				<div id="missing" style="display: none;">
					<p>Use <strong>Keyword(s) Search</strong> to find a unique in the selectable tables.</p>
					<table class="borders onehundred twocolumn">
						<col class="col_2">
						<col>
						<thead>
						<tr><th colspan=2><span class="title_text">Missing Items</span></th></tr>
						<tr><th>Base</th><th>Item(s)</th></tr>
						</thead>
						<tbody>
						{% for base in missing %}
							<tr><td>{{ base }}</td><td>{{ missing[base] | gen_missing_images }}</td></tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
            <div id="loading">
                This page requires javascript in order to work correctly.
                <br><br>
                This page may take a moment to load.
            </div>
            <h3>Gwennen unique reward rates appear to be <a href="https://www.reddit.com/r/pathofexile/comments/x05dq4/psa_gwennen_heavily_nerfed_in_319/" target="blank_">recently nerfed</a>.</h3>
            <h2>{% if 't' not in league %}Standard{% else %}Temp{% endif %} {% if softcore %}Softcore{% else %}Hardcore{% endif %} Gwennen Search String Generator</h2>
            <!-- <h3>Some rarer items, such as Mageblood or Headhunter, may be missing from this page at the start of a league.</h3> -->
            <div id="regex_box">
				<div><button id='generate'>Generate String</button></div>
				<div id="generated_strings" class='sec_div grind'>No strings generated yet.</div>
            </div>
            <div id="show_hide">
				<table>
					<tr><th></th><th>Selection</th></tr>
					<tr><td class="right_text">Always show selected rows</td><td><select id="always_show" class="save onehundred"><option value=show>Show</option><option value=hide>Hide</option></select></td></tr>
					<tr><td class="right_text">Show low value items in row:</td><td><select id="hide_low_value" class="save onehundred"><option value=hide>Hide</option><option value=show>Show</option></select></td></tr>
					<tr><td class="right_text">Minimum Chaos value to show:</td><td><input type='number' min='0' step="1" value="{{ show_10 }}" id="chaos_filter" class='save'></td></tr>
					<tr><td class="right_text">Keyword(s) Search:</td><td><input type='text' id="keywords" class='save'><button id='clear_keywords'>x</button></td></tr>
				</table>
				<br />
				<div><button id='select_matching'>Select Matching Only</button></div>
				<div><button id='select_visible'>Select Visible</button></div>
				<div><button id='clear_selected'>Clear Selected</button></div>
	        </div>
            <div id="items">
                {% for artifact in ['Lesser Broken Circle Artifact', 'Greater Broken Circle Artifact', 'Grand Broken Circle Artifact', 'Exceptional Broken Circle Artifact'] %}
				<table class="borders onehundred">
					<col class="col_1">
					<col class="col_2">
					<col>
					<thead>
				    <tr><th colspan=3><span class="title_text">{{ artifact }}</span></th></tr>
					<tr><th>Selected</th><th>Base</th><th>Item(s)</th></tr>
					</thead>
					<tbody>
					{% for base in unique_data[artifact] %}
						{% set base_l = base.lower() %}
						<tr data-id="{{ base_l }}" data-value="{{ unique_data[artifact][base][0][1] }}" data-search="{{ base_l | search_string(unique_data[artifact][base]) }}"{% if unique_data[artifact][base][0][1] < show_10 %} hidden{% endif %}><td><input id="check-{{ base_l.replace(' ', '_') }}" type='checkbox' data-id="{{ base_l }}" class='save'></td><td>{{ base }}</td><td>{{ base_l | gen_images(unique_data[artifact][base], show_10) }}</td></tr>
					{% endfor %}
					</tbody>
				</table>
				{% endfor %}
            </div>
        </section>
        <footer>
            <div id="helpsection">
            <button id='toggle_help'>Show Help and About</button>
            <div id="help">
            <p><strike>This page begins new league updates once Mageblood is on poe.ninja for softcore league</strike>(Some of you are just too impatient, removing this part).  Temp Softcore is used as an authority to control what uniques are shown in other leagues.</p>
			<p>This page generates simple regex search strings that are compatible with Path of Exile.  It uses price data from poe.ninja to present an initial selection that you can then personalize by changing the search filters and changing which item bases are selected.  This tool does a lot of work behind the scene to generate compact search strings while staying within PoE's character limit.</p>
            <hr />
            <p>Atlas bases are available to select via 'Influenced Base'.  Uniques that are in Temp Softcore but not current league are included with a chaos value of 0.</p>
            <hr />
            <p>Default Minimum Chaos is initialized to show 10 bases for the current league.  If you would like to select other bases, use the selection filters to change what is visible.</p>
            <p><strong>Keyword(s) search</strong> overrides all other filter settings.  Clear keyword search to use them.  Search can display an empty row if it's the combination of two or more uniques on a base that matches the search terms.  EG 'gold rim' will show Viridian Jewel base because 2 separate uniques partially match the search.</p>
            <p>Clicking <strong>Generate String</strong> will generate search strings based on all selected rows.  This can cause many calculations and may take a bit to return a result</p>
            <p>Due to limitations on the size of the search box in game you may be given more than 1 search string.  If this happens you have 2 choices.</p>
            <ul>
				<li>"Remove some items that you are looking for until the string is short enough."</li>
				<li>"Paste each line for each page of items. Awakened PoE Trade, or win 10 multi-clipboard(built in) make it a lot less painful."</li>
			</ul>
            <hr />
            <p><strong>Select Matching Only</strong> selects only rows that match current Keyword(s) Search or Minimum Chaos settings and deselects all others.</p>
            <p><strong>Select Visible</strong> adds all rows that match current Keyword(s) Search or Minimum Chaos to current selection.</p>
            <p><strong>Clear Selected</strong> deselects all rows.</p>
			</div>
            </div>
            <p id="otherversion">
			{% if league != 'sct' %}
				<a href="/poe_gen_gwennen/" target="_blank">Temp Softcore Market</a><br />
			{% endif %}
			{% if league != 'hct' %}
				<a href="/poe_gen_gwennen/index_hct.html" target="_blank">Temp Hardcore Market</a><br />
			{% endif %}
			{% if league != 'sc' %}
				<a href="/poe_gen_gwennen/index_sc.html" target="_blank">Standard Market</a>{% if league != 'hc' %}<br />{% endif %}
			{% endif %}
			{% if league != 'hc' %}
				<a href="/poe_gen_gwennen/index_hc.html" target="_blank">Standard Hardcore Market</a>
			{% endif %}
			</p>
            <p><a href="https://github.com/xanthics/poe_gen_gwennen/discussions" target="_blank">Suggestions</a><br /><a href="https://github.com/xanthics/poe_gen_gwennen/issues" target="_blank">Bugs</a></p>
            <p id="time">poe.ninja data last updated at {{ update }} PST</p>
            <section class="disclaimer">
                <h3>Notice of Non-Affiliation</h3>
                <p>This site is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Grinding Gear Games, or any of its subsidiaries or its affiliates. The official Path of Exile website can be found at https://www.pathofexile.com</p>
                <p>The names Grinding Gear Games and Path of Exile as well as related names, marks, emblems and images are registered trademarks of their respective owners.  The use of any trade name or trademark is for clarifying purposes only and does not imply any association with the trademark holder of their product brand.</p>
            </section>
            <br />
            <div id="sponsor">
                <div id="patreon_image"><a href="https://www.patreon.com/xanthics" target="_blank"><img alt="Become a Patron!" src="img/become_a_patron_button@2x.png" class="sponsor_img"></a></div>
            </div>
        </footer>
        <script type="text/python" src="ngram_generated.py"></script>
        <script type="text/python" class="webworker" id="myworker" src="web_worker.py"></script>
        <script type="text/python" src="main.py"></script>
    </body>
</html>